<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<main th:fragment="cart (items)" class="page">
    <section class="shopping-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2>Ваш текущий заказ</h2>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                            <div th:each="item : ${items}" class="product">
                                <div style="align-items: center" class="row ">
                                    <div class="col-md-4"
                                         th:insert="fragments/image-wrapper.html:: img(imgPath=${item.item.pathImg})">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-5 product-name">
                                                    <div class="product-name">
                                                        <a href="#" th:text="${item.item.name}"></a>
                                                        <div class="product-info">
                                                            <div>Объем: <span class="value"
                                                                              th:text="${item.item.capacity}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 quantity">
                                                    <label for="quantity">Количество:</label>
                                                    <input id="quantity" type="number" th:value="${item.count}"
                                                           class="form-control quantity-input count"
                                                           th:onchange="|onChangeCount(event,'${item.item.id}')|">
                                                </div>
                                                <div class="col-md-3 price">
                                                    <span th:text="${item.item.cost+ ' руб.'}" class="cost"></span>
                                                </div>
                                                <div class="item-id" style="display:none" th:text=" ${item.item.id}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Стоимость</h3>
                            <div class="summary-item"><span class="text">Общее</span><span
                                    class="price summ">360 руб.</span>
                            </div>
                            <div class="summary-item"><span class="text">Скидка</span><span class="price discount">0 руб.</span>
                            </div>
                            <div class="summary-item"><span class="text">Итого</span><span class="price total-summ">360 руб.</span>
                            </div>
                            <button id="confirm" type="button" class="btn btn-primary btn-lg btn-block"
                                    style="width:100%;">
                                Заказать
                            </button>


                            <script>
                                // king
                                function calculateSum() {
                                    let summ = 0;
                                    const allProducts = document.querySelectorAll(".product");
                                    allProducts.forEach((item) => {
                                        const count = item.querySelector(".count").value;
                                        const cost = item.querySelector(".cost").textContent;
                                        const countValue = parseInt(count);
                                        const costValue = parseInt(cost);
                                        console.log(countValue, costValue);
                                        summ += countValue * costValue;

                                    });
                                    console.log(summ);
                                    let summaryItem = document.querySelector(".summary").querySelector(".summ");
                                    summaryItem.textContent = summ + " руб.";

                                    const discount = parseInt(document
                                        .querySelector(".summary")
                                        .querySelector(".discount")
                                        .textContent);

                                    const totalSumm = document.querySelector(".summary").querySelector(".total-summ");
                                    totalSumm.textContent = summ - discount + " руб.";
                                }


                                function onChangeCount(event, id) {
                                    console.log(id);
                                    const currentCount = event.target.value;
                                    if (currentCount < 1) {
                                        deleteItem(event, id);
                                    } else {
                                        updateItem(event, id, currentCount);
                                    }
                                }

                                function deleteItem(event, id) {
                                    fetch(`/order?itemId=${id}`, {
                                        method: 'DELETE',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                    })
                                        .then((response) => {
                                            if (response.ok)
                                                return response.json()
                                            throw new Error(response.status);
                                        })
                                        .then(x => {
                                            calculateSum();
                                            deleteItemFromHTML(id);
                                        })
                                        // .catch(x=>  window.location.href = '/items/cart');
                                }


                                function updateItem(event, id, currentCount) {
                                    fetch(`/order?itemId=${id}&count=${currentCount}`, {
                                        method: 'PUT',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                    })
                                        .then((response) => {
                                            if (response.ok)
                                                return response.json()
                                            throw new Error(response.status);
                                        })
                                        .then(x => {
                                            calculateSum();
                                        })
                                        // .catch(x=>  window.location.href = '/items/cart');

                                }

                                function deleteItemFromHTML(id) {
                                    const findElem = Array.from(document.querySelectorAll(".product"))
                                        .filter((item) => {
                                            let value = item.querySelector(".item-id").textContent;
                                            console.log(value)
                                            console.log(`${value}` === `${id}`)
                                            return `${value}` === `${id}`;
                                        });
                                    findElem[0]?.remove();
                                    calculateSum();
                                }

                                calculateSum();
                            </script>

                            <script>
                                const element = document.querySelector("#confirm");
                                element.addEventListener("click", () => {
                                    fetch("/order/confirm", {
                                        method: "post",
                                    })
                                        .then(x => {
                                            window.location.href = '/'
                                        });
                                })

                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</html>